/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

/* general*/
.w-20 {
	width: 20%;
}

.w-30 {
	width: 30%;
}

.w-80 {
	width: 80%;
}

.bg-transparent-50 {
	background-color: rgba(0,0,0,.5);
}

a{
	text-decoration:none;
}

.link-origin {
	color: #fff;
	cursor: pointer;
	text-decoration:none !important;
}

.link-origin:hover {
	color: #9FB6CD;
} 

.text-origin {
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* body */
/* body {
	background:#ffffff;
	color:#555;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
} */

/* header */
/* #header {
	border-bottom:1px solid #999;
	height:80px;
	margin:0 auto;
	width:751px;
}
#header h1 {
	color:#888;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	color:#CCC;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
} */

/* navigation */
/* #navigation {
	background:#fafafa;
	border-right:1px solid #999;
	margin:0 auto;
	width:750px;
	height:40px;
	list-style:none;
}
#navigation li {
	border-left:1px solid #999;
	float:left;
	width:149px;
	list-style:none;
}
#navigation a {
	color:#555;
	display:block;
	line-height:40px;
	text-align:center;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
} */

/* content */
#content {
	min-height:100vh;
	/* margin:0 auto;
	padding:0 0 20px;
	width:751px; */
}
/*
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
} */

/* footer */
/* #footer {
	border-top:1px solid #999; 
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:751px;
} */

/* Added by Larry Ullman: */
/* .error, .ad {
	font-weight: bold;
	color: #C00
}

input, select, .input {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #008040;
	background: #FFFFFF;
	border:1px dotted #004080;
} */

/* Trang chủ */
.index {
	background-image: url(../Images/background.jpg);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
}

.anh-cn {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* SideBar phần bài tập */
.sidebar-bt ul {
	list-style-type: none;
}

.sidebar-bt .exercises {
	padding-left: 4px;
} 

.exercises ul {
	padding-left: 16px;
}

/* Footer */
.footer ul li {
    list-style: none;
}

.footer li a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.footer li a:hover {
    color: rgba(255,255,255,.9);
}

.footer h3 {
    position: relative;
    margin-bottom: 15px;
}

.footer h3:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #DC3545;
}

	

	